{
  "env": {
    "production": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "react"
      ]
    },
    "test": {
      "presets": ["env", "react"]
    }
  }
}
